[user]
	name = Matt Kelly
    name = mattkelly@gmail.com
[core]
	excludesfile = /Users/mattkelly/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[init]
	templatedir = ~/.git_template
[merge]
	tool = vimdiff
	tool = prompt
	conflictstyle = diff3
